@media screen and (max-width: 1728px) {
    .AsideBarRight.Active {
        flex: 0 0 380px;
    }
}

@media screen and (max-width: 1600px) {
    .AsideBarRight.RightPanel1Active {
        flex: 0 0 310px;
    }
    .AsideBarRight.RightPanel2Active {
        flex: 0 0 310px;
    }
    .AsideBarLeft.AsideBarLeftActive {
        flex: 0 0 310px;
    }
    .PannelIcon.Active {
        right: 264px;
    }
    .PannelIcon2.Active {
        right: 267px;
    }
    .LeftPannelIcon1.Active {
        left: 277px;
    }
    .toggle-card-header h3 {
        font-size: 16px;
    }
}
@media screen and (max-width: 1512px) {
    .AsideBarRight.Active {
        flex: 0 0 320px;
    }
    .MyCardTitle {
        font-size: 22px;
    }
    .MyInputField label, .MyInput, .MyInput::placeholder, .MyInputBtn, .MyInputBtnDateSubject, .MySelect {
        font-size: 14px;
    }
    .MySelect {
        background-size: 14px;
    }
    .HeaderPart h2 {
        font-size: 24px;
    }
    ul.BreadCrumb li {
        font-size: 24px;
     }
     ul.BreadCrumb li:not(:last-child):after{
         font-size: 20px;
     }
     ul.BreadCrumb li a {
        font-size: 24px;
     }
    .ContentWrapper {
        height: calc(100% - 85px);
    }
    .AsideBarRight.Active .PannelAside {
        max-height: calc(100vh - 123px);
    }
    .MenusList li a, .UserAccountMenus li a {
        font-size: 14px;
    }
    .MenusList li a span {
        flex: 0 0 16px;
        height: 16px;
    }
    .MenusList li a span svg {
        max-width: 16px;
        max-height: 16px;
    }
}

@media screen and (max-width: 1440px) {
    .modal-header {
        padding: 10px 15px;
    }
    .HeaderPart h2 {
        font-size: 18px;
    }
    .HeaderPart.Active {
        padding: 10px 20px;
    }
    ul.BreadCrumb li {
        font-size: 18px;
     }
     ul.BreadCrumb li:not(:last-child):after{
         font-size: 14px;
     }
     ul.BreadCrumb li a {
        font-size: 18px;
     }
    .modal-header img {
        max-height: 40px;
    }
    .MainMenu.modal .modal-wrapper {
        max-width: 280px;
    }
    
    .MainMenu.modal .modal-body {
        height: calc(100vh - 70px);
    }
    .MenusList {
        max-height: calc(100vh - 275px);
    }
    .AsideBarRight.Active {
        flex: 0 0 320px;
    }
    .MyCardTitle {
        font-size: 18px;
    }
    .MyInputField label, .MyInput, .MyInput::placeholder, .MyInputBtn, .MyInputBtnDateSubject, .MySelect {
        font-size: 12px;
    }
    .MyBtn {
        font-size: 16px;
        min-height: 36px;
    }
    .MenuIcon svg, .PannelIcon svg, .PannelIcon2 svg, .LeftPannelIcon1 svg {
        width: 18px;
        height: 18px;
    }    
    .MenuIcon {
        top: 80px;
    }
    .TopMenuIcon svg {
        width: 20px;
        height: 20px;
    }
    .LeftPannelIcon1.Active {
        left: 279px;
    }
    .PannelIcon.Active {
        right: 266px;
    }
    .MyCard {
        padding: 15px;
    }
    .MyCard.mb-30 {
        margin-bottom: 10px;
    }
    .MenusList li a, .UserAccountMenus li a {
        padding: 12px 15px;
    }
    .MenusList, .UserAccountMenus {
        padding: 15px;
    }
    .MenusList li a, .UserAccountMenus li a {
        font-size: 14px;
    }
    .ContentWrapper {
        height: calc(100% - 58px);
    }
    .AsideBarRight.Active .PannelAside {
        max-height: calc(100vh - 98px);
    }
    .MyInput, .MySelect, .MyInputBtn, .MyInputBtnDateSubject {
        min-height: 44px;
    }
    .toggle-card-header h3 {
        font-size: 14px;
    }
    .ContentPara p {
        font-size: 14px;
    }
    .toggle-card-header .filter-btns button svg {
        max-width: 15px;
        max-height: 15px;
    }
    .ValueView {
        margin-bottom: 5px;
    }
    .ValueView span {
        font-size: 12px;
    }
    .ValueView h4 {
        font-size: 12px;
    }

    canvas#install-bottom-canvas {
        max-height: calc(50vh - 105px) !important;
    }

    .OneCanvas.fullscreen .MyCardBody canvas#install-top-left-canvas,
    .OneCanvas.fullscreen .MyCardBody canvas#install-top-right-canvas,
    .OneCanvas.fullscreen .MyCardBody canvas#install-bottom-canvas {
        max-height: calc(100vh - 120px) !important;
    }
}

@media screen and (max-width: 1280px) {
    .MyCardTitle {
        font-size: 16px;
    }
    .HeaderPart h2 {
        font-size: 16px;
    }
    ul.BreadCrumb li {
        font-size: 16px;
     }
     ul.BreadCrumb li:not(:last-child):after{
         font-size: 14px;
     }
     ul.BreadCrumb li a {
        font-size: 16px;
     }
}

@media screen and (max-width: 1024px) {
    .MyCardTitle {
        font-size: 18px;
    }
    .MyInputField label, .MyInput, .MyInput::placeholder, .MyInputBtn, .MyInputBtnDateSubject, .MySelect {
        font-size: 12px;
    }
}
@media screen and (max-width: 991px) {
    
}