*,
::after,
::before {
    box-sizing: border-box;
    transition: all 0.3s;
}



:root {
    --Black: #1f1f1f;
    --LightBlack: #313236;
    --InputColor: #434650;
    --White: #fff;
    --Blue: #0099d5;
    --DarkBlue: #0089be;
    --Orange: #ff400a;
    --DarkOrange: #e03101;
    --CardBg2: #2b2b2f;
    --GrayColor: #c4c4c4;
    --Color1: #658483;
    --Color2: #f23d3e;
    --Color3: #c49899;
    --Color4: #bf02fa;
    --Color5: #000000;
    --Color6: #00e600;

    --PrimaryFont: Poppins;
}

::-webkit-scrollbar,
::-webkit-scrollbar-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--LightBlack);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--CardBg2);
    border-radius: 10px;
}

.W100 {
    width: 100%;
}

.MW100 {
    max-width: 100%;
}

body {
    margin: 0px;
    font-family: var(--PrimaryFont);
    transition: all 0.6s;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.OrangeBtn {
    background: var(--Orange);
    color: var(--White);
}

.OrangeBtn:hover {
    background: var(--DarkOrange);
    color: var(--White);
}

.BlueBtn {
    background: var(--Blue);
    color: var(--White);
}

.BlueBtn:hover {
    background: var(--DarkBlue);
}

.WhiteBtn {
    background: var(--White);
    color: var(--Orange);
}

.WhiteBtn:hover {
    background: var(--Orange);
    color: var(--White);
}

.TextCenter {
    text-align: center;
}

.JustifyCenter {
    justify-content: center;
}

.MyBtn {
    min-height: 42px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 7px 20px;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    box-shadow: none;
}

.flex-wrap {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.Card50 {
    width: 50%;
    padding: 0px 15px;
}

.Card100 {
    width: 100%;
    padding: 0px 15px;
}

.MainWrapper {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: var(--Black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.HeaderPart {
    width: 100%;
    height: 0px;
    padding: 0px 20px 0px 50px;
    background: var(--LightBlack);
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s;
}

.HeaderPart.Active {
    opacity: 1;
    height: auto;
    transition: all 0.6s;
    position: relative;
    top: 0px;
    padding: 25px 20px 25px 50px;
}

.HeaderPart h2 {
    margin: 0px;
    color: var(--White);
    font-size: 28px;
    font-weight: 600;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.TopMenuIcon {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    background: var(--Orange);
    color: var(--White);
    z-index: 999999;
    border: none;
}

.TopMenuIcon:hover {
    background: var(--DarkBlue);
}

.TopMenuIcon svg,
.TopMenuIcon img,
.PannelIcon2 svg,
.PannelIcon2 img,
.LeftPannelIcon1 svg,
.LeftPannelIcon1 img,
.MenuIcon svg,
.MenuIcon img,
.MyBtn svg,
.MyBtn img {
    width: 22px;
    height: 22px;
    max-width: unset;
}

.PannelIcon {
    position: absolute;
    /* left: -70px; */
    right: -44px;
    /* top: 50%; */
    top: 77px;
    transform: translateY(-50%) rotate(-90deg);
    padding: 8px 10px;
    border-radius: 10px 10px 0 0;
    background: var(--Blue);
    color: var(--White);
    gap: 8px;
}

.PannelIcon:hover {
    background: var(--DarkBlue);
}

.PannelIcon.Active {
    right: 376px;
}

.MenuIcon {
    position: absolute;
    left: -25px;
    top: 90px;
    transform: translateY(-50%) rotate(270deg);
    padding: 8px 10px;
    border-radius: 0 0 10px 10px;
    background: var(--Blue);
    color: var(--White);
    gap: 8px;
    z-index: 9;
}

.MenuIcon:hover {
    background: var(--DarkBlue);
}

.MenuIcon svg,
.PannelIcon svg,
.PannelIcon2 svg,
.LeftPannelIcon1 svg {
    width: 24px;
    height: 24px;
}

.ContentWrapper {
    width: 100%;
    height: calc(100% - 95px);
    display: flex;
    /* gap: 30px; */
    padding: 20px;
    overflow: auto;
    transition: all 0.3s;
    bottom: 0;
    position: relative;
}

.ContentWrapper.ToggleDiv.Active {
    height: 100%;
}

.ContentWrapper.ChangeFlex {
    gap: 0;
}

.MainContent {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: var(--LightBlack);
    overflow: auto;
    /* position: relative; */
}

.AsideBarRight.Active {
    flex: 0 0 430px;
    transform: translateX(0%);
}

.AsideBarRight {
    /* flex: 0 0 430px; */
    flex: 0 0 0px;
    width: 0px;
    border-radius: 10px;
    position: relative;
    transition: all 0.8s;
    transform: translateX(100%);
}

.AsideBarRight .PannelAside {
    padding: 0px;
    width: 0px;
    height: 0px;
    border-radius: 10px;
    background: var(--LightBlack);
    overflow: hidden;
    transition: all 0.8s;
}

.AsideBarRight.Active .PannelAside {
    width: 100%;
    height: 100%;
    transition: all 0.8s;
    overflow-y: auto;
    max-height: calc(100vh - 133px);
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
}

.AsideBarRight.Active .PannelAside {
    max-height: calc(100vh - 38px);
}

.MyCard {
    width: 100%;
    padding: 25px 20px;
    border-radius: 10px;
    background: var(--LightBlack);
}

.MyCardTitle {
    font-size: 26px;
    font-weight: 600;
    color: var(--White);
    margin-bottom: 20px;
}

.MyCardBody {}

.AsideBarRight .PannelAside .MyCard {
    background: var(--CardBg2);
}

.MyInputField {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.MyInputField label {
    display: block;
    font-size: 20px;
    color: var(--White);
    margin-bottom: 7px;
}

.MySelect {
    width: 100%;
    min-height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    color: var(--White);
    border-radius: 4px;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--InputColor);
    background-image: url(../assets/ange-down.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
}

.MyInput {
    width: 100%;
    min-height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    color: var(--White);
    border-radius: 4px;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--InputColor);
}

.MyInput::placeholder {
    color: var(--White);
}

.MyInputBtn {
    /* width: 100%; */
    min-height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
    border-radius: 4px;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: var(--InputColor);
    transition: all 0.6s;
}

.MyInputBtn:hover,
.MyInputBtn:focus,
.MyInputBtn:active {
    background: var(--Orange);
}

.modal {
    position: absolute;
    z-index: 999999;
    /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.modal.is-visible {
    visibility: visible;
}

.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.modal-wrapper {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width: 32em;
    /* margin-left: -16em; */
    transform: translate(-50%, -50%);
    background-color: var(--LightBlack);
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0;
}

.modal.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}

.modal-header {
    padding: 20px 15px;
}

.modal-content {
    /* padding: 20px 15px 0px 15px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.modal-header {
    position: relative;
    background-color: var(--LightBlack);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
    border-bottom: 1px solid var(--InputColor);
}

.modal-header img {
    max-height: 47px;
    max-width: 100%;
}

.modal-close {
    position: absolute;
    top: 50%;
    right: 15px;
    color: var(--White);
    background: none;
    border: 0;
    transform: translateY(-50%);
}

.modal-close:hover {
    color: #777;
}

.modal-heading {
    font-size: 1.125em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--White);
    font-size: 24px;
    font-weight: 600;
}

.modal-content>*:first-child {
    margin-top: 0;
}

.modal-content>*:last-child {
    margin-bottom: 0;
}

.modal-content p {
    font-size: 14px;
    line-height: 28px;
    color: var(--White);
    font-weight: 300;
}

/*** Modal 2 CSS ***/

.modal.FilterModal .modal-header,
.modal.StepInstructionModal .modal-header {
    width: 100%;
    padding: 20px 30px;
}

.modal.FilterModal .modal-content,
.modal.StepInstructionModal .modal-content {
    padding: 30px;
}

.modal.FilterModal .modal-wrapper,
.modal.StepInstructionModal .modal-wrapper {
    width: 100%;
    max-width: 700px;
    border-radius: 20px;
    overflow: hidden;
    /* transform: translateX(-50%); */
    transform: translate(-50%, -50%) !important;
    margin-left: 0px;
}

.modal.FilterModal .modal-body,
.modal.StepInstructionModal .modal-body {
    max-height: calc(100vh - 90px);
    overflow: auto;
}

.MainMenu.modal .modal-wrapper {
    left: -100%;
    margin-left: 0;
    top: 0;
    min-height: 100vh;
    overflow: auto;
    max-width: 320px;
}

.MainMenu.modal.is-visible .modal-wrapper {
    left: 0;
    border-radius: 0px 10px 10px 0px;
}

.MenusList {
    padding: 20px 15px;
    max-height: calc(100vh - 320px);
    overflow: auto;
}

.MenusList li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    color: var(--White);
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
}

.MenusList li.active a {
    background: var(--Orange);
}

.MenusList li:hover a {
    background: var(--Orange);
}

.MenusList li a span {
    flex: 0 0 18px;
    height: 18px;
}

.MenusList li a span svg {
    max-width: 18px;
    max-height: 18px;
}

.MenusList li:not(:last-child),
.UserAccountMenus li:not(:last-child) {
    margin-bottom: 2px;
}

.UserAccountMenus {
    background: var(--InputColor);
    padding: 20px 15px;
    border-radius: 10px 10px 0px 0px;
}

.UserAccountMenus li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    color: var(--White);
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
}

.UserAccountMenus li.active a {
    background: var(--Orange);
}

.UserAccountMenus li:hover a {
    background: var(--Orange);
}

.UserAccountMenus li a span {
    flex: 0 0 18px;
    height: 18px;
}

.UserAccountMenus li a span svg {
    max-width: 18px;
    max-height: 18px;
}

.UserAccountMenus li a span.usericon {
    flex: 0 0 40px;
    height: 40px;
}

.UserAccountMenus li .ProfileMenu {
    border-bottom: solid 1px var(--LightBlack);
    border-radius: 0px !important;
}

.UserAccountMenus li:hover .ProfileMenu {
    border-color: var(--Orange);
    border-radius: 8px !important;
}

.MainMenu.modal .modal-body {
    height: calc(100vh - 95px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MainContent canvas {
    max-width: 100%;
    max-height: 100%;
}

ul.BreadCrumb {
    display: inline-flex;
    flex-flow: wrap;
    gap: 10px;
}

ul.BreadCrumb li {
    font-size: 28px;
    color: var(--InputColor);
    font-weight: 600;
}

ul.BreadCrumb li:not(:last-child):after {
    content: "/";
    font-size: 20px;
    padding-left: 10px;
}

ul.BreadCrumb li a {
    font-size: 28px;
    text-decoration: none;
    color: var(--White);
}

.PannelIcon2 {
    position: absolute;
    right: -52px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    padding: 8px 10px;
    border-radius: 10px 10px 0 0;
    background: var(--Orange);
    color: var(--White);
    gap: 8px;
    white-space: nowrap;
}

.PannelIcon2.Active {
    right: 288px;
}

.AsideBarRight.RightPanel1Active {
    transform: translateX(0px);
    width: 100%;
    flex: 0 0 430px;
}

.AsideBarRight.RightPanel1Active .PannelAside.RightPanel1.Active {
    width: calc(100% - 30px);
    height: 100%;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: auto;
}

.AsideBarRight.RightPanel2Active {
    transform: translateX(0px);
    width: 100%;
    flex: 0 0 350px;
}

.AsideBarRight.RightPanel2Active .PannelAside.RightPanel2.Active {
    width: calc(100% - 30px);
    height: 100%;
    margin-left: 30px;
    padding: 10px;
    overflow: auto;
}

/*** Collapse ***/
.toggle-card {
    transition: all 0.3s;
}

.toggle-card-header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-card-header h3 {
    color: var(--White);
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.toggle-card-header .filter-btns button {
    background: transparent;
    border: none;
    color: var(--White);
    width: 25px;
    height: 25px;
    padding: 0px;
    text-align: center;
}

.toggle-card .toggle-card-header .filter-btns .collpase-btn svg,
.toggle-card .toggle-card-header .filter-btns .collpase-btn img {
    transform: rotate(180deg);
}

.toggle-card.active .toggle-card-header .filter-btns .collpase-btn svg,
.toggle-card.active .toggle-card-header .filter-btns .collpase-btn img {
    transform: rotate(0deg);
}

.toggle-card .toggle-card-header .filter-btns button img {
    max-width: 24px;
    max-height: 24px;
}

.toggle-card .toggle-card-body {
    display: none;
}

.toggle-card.active .toggle-card-body {
    display: block;
    margin-top: 15px;
    padding-top: 20px;
    border-top: solid 1px var(--InputColor);
}

.toggle-card-body .progress-steps li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
    border-radius: 4px;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: var(--InputColor);
    transition: all 0.6s;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.toggle-card-body .progress-steps li:not(:last-child) {
    margin-bottom: 15px;
}

/* .toggle-card-body .progress-steps li span{
    padding-left: 15px;
} */
.toggle-card-body .progress-steps li button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: solid 1px var(--LightBlack);
    padding: 10px;
}

.toggle-card-body .progress-steps li button img {
    max-width: 20px;
    max-height: 20px;
}

.ValueView {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.ValueView span {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--White);
}

.ValueView h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--Orange);
    margin: 0px;
}

.LeftPannelIcon1 {
    position: absolute;
    left: -51px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    padding: 8px 10px;
    border-radius: 0 0 10px 10px;
    background: var(--Orange);
    color: var(--White);
    gap: 8px;
    white-space: nowrap;
}

.LeftPannelIcon1.Active {
    left: 289px;
}

/* .ToggleDiv.Active .AsideBarRight.Active .LeftPannelIcon1 {
    top: 113px;
} */
.LeftPannelIcon1:hover {
    background: var(--DarkOrange);
}

/* .ContentWrapper.ToggleDiv.ChangeFlex .LeftPannelIcon1 {
    left: -51px;
} */

.ContentPara {
    width: 100%;
    height: auto;
    max-height: 25vh;
    overflow: auto;
}

.ContentPara p {
    font-size: 16px;
    font-weight: 400;
    color: var(--GrayColor);
}

.AsideBarLeft.AsideBarLeftActive {
    flex: 0 0 320px;
    margin-right: 30px;
    transform: translateX(0%);
}

.AsideBarLeft {
    /* flex: 0 0 430px; */
    flex: 0 0 0px;
    width: 0px;
    position: relative;
    transition: all 0.8s;
    transform: translateX(100%);
}

.AsideBarLeft .PannelAside {
    padding: 0px;
    width: 0px;
    background: var(--LightBlack);
    overflow: hidden;
    transition: all 0.8s;
}

.AsideBarLeft.AsideBarLeftActive .PannelAside {
    width: 100%;
    height: 100%;
    transition: all 0.8s;
    overflow-y: auto;
    max-height: calc(100vh - 63px);
    border-radius: 10px;
    padding: 10px;
}

.AsideBarLeft .PannelAside .MyCard {
    background: var(--Black);
}

.ToggleDiv.Active .AsideBarLeft.AsideBarLeftActive .PannelAside {
    max-height: calc(100vh - 38px);
}

.ContentPara p {
    font-weight: 300;
    font-size: 16px;
    margin-top: 0px;
    color: var(--GrayColor);
}

.MyCard.BgWhite {
    background: var(--White);
}

/***** CheckBox CSS *****/
.filter-checklist {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.filter-checklist li {
    flex: 0 0 49%;
}

.filter-checklist li:not(:last-child) {
    margin-bottom: 20px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    color: var(--White);
    padding-left: 30px;
}

.styled-checkbox+label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: solid 2px var(--Orange);
    top: 3px;
    left: 0px;
    position: absolute;
}

.styled-checkbox:hover+label:before {
    background: var(--Orange);
}

.styled-checkbox:focus+label:before {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.12);
}

.styled-checkbox:checked+label:before {
    background: var(--Orange);
}

.styled-checkbox:disabled+label {
    color: var(--White);
    cursor: auto;
}

.styled-checkbox:disabled+label:before {
    box-shadow: none;
    /* background: #ddd; */
}

.styled-checkbox:checked+label:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 11px;
    /* background: white; */
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
        4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.filter-checklist+.MyBtn {
    max-width: 250px;
    margin: 0 auto;
}

.MyCard.CanvasCard {
    padding: 0px;
}

.CanvasCard .TitleFlex {
    width: 100%;
    padding: 5px 15px 10px 15px;
    margin-bottom: 0px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CanvasCard .TitleFlex h3 {
    font-size: 14px;
    font-weight: 700;
    color: var(--LightBlack);
    margin: 0px;
}

.CanvasCard .resize-div {
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.CanvasCard .resize-div svg,
.CanvasCard .resize-div img {
    max-width: 24px;
}

.CanvasCard .MyCardCanvas {
    width: 100%;
    height: auto;
    text-align: center;
}

.MyCard.CanvasCard.mb-30 {
    margin-bottom: 30px;
}

.Card50.OneCanvas.fullscreen,
.Card100.OneCanvas.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    padding: 0;
}

.Card50.OneCanvas.fullscreen .CanvasCard,
.Card100.OneCanvas.fullscreen .CanvasCard {
    border-radius: 0px;
    height: 100%;
}

.Card50.OneCanvas.fullscreen .CanvasCard .MyCardTitle,
.Card100.OneCanvas.fullscreen .CanvasCard .MyCardTitle {
    max-height: calc(100vh - 43px);
    overflow: auto;
}

.Card50.OneCanvas.fullscreen .CanvasCard .MyCardTitle svg.fullscreen,
.Card100.OneCanvas.fullscreen .CanvasCard .MyCardTitle svg.fullscreen {
    display: none;
}

.resize-div .smallscreen {
    display: none;
}

.fullscreen .resize-div .fullscreen {
    display: none;
}

.fullscreen .resize-div .smallscreen {
    display: block;
}

.chart-indigators {
    width: auto;
    height: auto;
    position: absolute;
    left: 30px;
    bottom: 30px;
    background: #0099d545;
    padding: 10px 20px;
    border-radius: 4px;
}

.chart-indigators li {
    color: var(--White);
    font-size: 14px;
    display: flex;
    gap: 8px;
}

.chart-indigators li:not(:last-child) {
    margin-bottom: 10px;
}

.chart-indigators li span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
}

.color1 {
    background: var(--Color1);
}

.color2 {
    background: var(--Color2);
}

.color3 {
    background: var(--Color3);
}

.color4 {
    background: var(--Color4);
}

.color5 {
    background: var(--Color5);
}

.color6 {
    background: var(--Color6);
}

.d-flex {
    display: flex;
}

.width-full {
    width: 100%;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.canvas-div {
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 180px;
}
canvas#project-map-canvas {
    width: 100%!important;
    height: 100%!important;
}

canvas#field-canvas {
    max-width: 100%;
    max-height: 100%;
}