<div class="AsideBarLeft LeftPanel1" include-my-html="./templates/menues/install-left-menu.html"></div>
<div id="field-container" class="MainContent">
  <div id="fields-canvas-container" class="canvas-div ">
    <canvas id="field-canvas"></canvas>
  </div>  
</div>
<div id="install-container" class="MainContent display-none">
  <div  id="fields-canvas-container" class="canvas-div ">
    Text
  </div>  
</div>
<div id="AsideBarRight" class="AsideBarRight Active" include-my-html="./templates/menues/project-selection-menu.html">
</div>
<div id="install-right-panel" class="AsideBarInstallRight" include-my-html="./templates/menues/install-right-menu.html">
</div>