

<div class="MainContent">
    <div id="fields-canvas-container" class="canvas-div">
      <canvas id="field-canvas"></canvas>
      </div>
<div class="chart-indigators">
    <ul>
        <li><span class="color1"></span> Scour</li>
        <li><span class="color2"></span> Install MP</li>
        <li><span class="color3"></span> HTV Cluster</li>
        <li><span class="color4"></span> IIC</li>
        <li><span class="color5"></span> Installed</li>
        <li><span class="color6"></span> HTV + THIALF</li>
    </ul>
</div>
</div>


   
</div>

</div>
