<!-- <div class="AsideBarLeft LeftPanel1 AsideBarLeftActive" include-my-html="./templates/menues/install-left-menu.html"></div> -->
<div class="MainContent">
  <div class="flex-wrap">
    <div class="Card50 OneCanvas">
        <div class="MyCard CanvasCard BgWhite mb-30">
            <div class="MyCardTitle TitleFlex">
                <h3 class="faq-title">Side</h3>
                <button class="resize-div" onclick="collpaseButton(event)" >   
                    <img class="fullscreen"  src="assets/fullscreen-icon.svg" alt="">
                    <img class="smallscreen" src="assets/smallscreen-icon.svg" alt="">                                    
                </button>
            </div>
            <div class="MyCardBody">
                <div class="MyCardCanvas">
                    <img src="assets/canvas1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="Card50 OneCanvas">
        <div class="MyCard CanvasCard BgWhite mb-30">
            <div class="MyCardTitle TitleFlex">
                <h3 class="faq-title">Perspective</h3>
                <button class="resize-div" onclick="collpaseButton(event)" >
                    <img class="fullscreen" src="assets/fullscreen-icon.svg" alt="">
                    <img class="smallscreen" src="assets/smallscreen-icon.svg" alt="">                           
                </button>
            </div>
            <div class="MyCardBody">
                <div class="MyCardCanvas">
                    <img src="assets/canvas2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="Card100 OneCanvas">
        <div class="MyCard CanvasCard BgWhite">
            <div class="MyCardTitle TitleFlex">
                <h3 class="faq-title">Topview</h3>
                <button class="resize-div" onclick="collpaseButton(event)" >
                    <img class="fullscreen" src="assets/fullscreen-icon.svg" alt="">
                    <img class="smallscreen" src="assets/smallscreen-icon.svg" alt="">                                                                            
                </button>
            </div>
            <div class="MyCardBody">
                <div class="MyCardCanvas">
                    <img src="assets/canvas3.png" alt="">
                </div>
            </div>
        </div>                        
    </div>
</div>
</div>
<!-- <div id="install-container" class="MainContent display-none">
  <div  id="fields-canvas-container" class="canvas-div ">
    Text
  </div>  
</div> -->
<!-- <div id="AsideBarRight" class="AsideBarRight Active" include-my-html="./templates/menues/project-selection-menu.html">
</div>   -->

<!-- <div class="AsideBarRight" include-my-html="./templates/menues/install-right-menu.html"> </div> -->