<div class="toggle-card active">
    <div class="toggle-card-header">
      <h3 class="faq-title">Installation Steps</h3>
      <div class="filter-btns">
        <button class="collpase-btn" onclick="onClickCollpaseButton(event)">
          <img src="../../assets/arrow-up-icon.svg" alt="" />
        </button>
        <button class="FilterModalBtn">
          <img src="../../assets/filter-icon.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="toggle-card-body">
      <ul class="progress-steps">
        <li class="MyInputBtn">
          <span>Step 1</span
          ><button
            class="MyInputBtn StepInstructionBtn"
            onclick="modalPopup(event)"
          >
            <img src="../../assets/info-icon.svg" alt="" />
          </button>
        </li>
        <li class="MyInputBtn">
          <span>Step 2</span
          ><button
            class="MyInputBtn StepInstructionBtn"
            onclick="modalPopup(event)"
          >
            <img src="../../assets/info-icon.svg" alt="" />
          </button>
        </li>
        <li class="MyInputBtn">
          <span>Step 3</span
          ><button
            class="MyInputBtn StepInstructionBtn"
            onclick="modalPopup(event)"
          >
            <img src="../../assets/info-icon.svg" alt="" />
          </button>
        </li>
        <li class="MyInputBtn">
          <span>Step 4</span
          ><button
            class="MyInputBtn StepInstructionBtn"
            onclick="modalPopup(event)"
          >
            <img src="../../assets/info-icon.svg" alt="" />
          </button>
        </li>
        <li class="MyInputBtn">
          <span>Step 5</span
          ><button
            class="MyInputBtn StepInstructionBtn"
            onclick="modalPopup(event)"
          >
            <img src="../../assets/info-icon.svg" alt="" />
          </button>
        </li>
      </ul>
    </div>
  </div>