<div class="MyCard mb-30">
  <div class="toggle-card active">
    <div class="toggle-card-header">
      <h3 class="faq-title">Project Map</h3>
      <div class="filter-btns">
        <button class="collpase-btn" onclick="onClickCollpaseButton(event)">
          <img src="../../assets/arrow-up-icon.svg" alt="" />
        </button>
        <button class="FilterModalBtn" onclick="onClickFilterPopup(event)">
          <img src="../../assets/filter-icon.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="toggle-card-body">
      <div class="map">
        <div id="first-panel-content-right-menu" class="map">
          <canvas id="project-map-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="MyCard mb-30">
  <div class="toggle-card active">
    <div class="toggle-card-header">
      <h3 class="faq-title">Work Pack Selection</h3>
      <div class="filter-btns">
        <button class="collpase-btn" onclick="onClickCollpaseButton(event)">
          <img src="../../assets/arrow-up-icon.svg" alt="" />
        </button>
        <button class="FilterModalBtn">
          <img src="../../assets/filter-icon.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="toggle-card-body">
      <div class="MyInputField">
        <label for="">Transport Vessel</label>
        <select
          onchange="onHtvDropdownChange(event)"
          id="file-names"
          name="htv-names"
          class="MySelect"
        >
          <option value="">--Select option--</option>
        </select>
      </div>
      <div class="MyInputField">
        <label for="">Ident. No.</label>
        <select
          onchange="onMonopileDropdownChange(event)"
          name="sheet-names"
          id="sheet-names"
          class="MySelect"
        >
          <option value="">--Select option--</option>
        </select>
      </div>
    </div>
  </div>
  <button id="playPauseButton" onclick="window.toggleStep()" class="MyBtn OrangeBtn"> Play </button>
  <button id="snapFreeButton" onclick="window.toggleSnap()" class="MyBtn OrangeBtn"> Snap </button>
  <button id="cameraButton" onclick="window.toggleCam()" class="MyBtn OrangeBtn"> Top </button>
</div>

<div
  class="MyCard mb-30"
  include-my-html="./../templates/panels/installation-steps.html"
></div>
