<button
  class="PannelIcon MyBtn Active"
  id="rightSidePannelOneButton"
  onclick="onClickToggelProjectSelectDiv(event)"
>
  <img src="../../assets/panel-icon.svg" alt="" /> Panel
</button>
<button
  class="PannelIcon2 MyBtn"
  id="rightSideDownPanelButton"
  onclick="onClickToggelProjectSelectDiv(event)"
>
  <img src="../../assets/panel-icon.svg" alt="" /> Panel 3
</button>

<div
  class="PannelAside RightPanel1 Active"
  id="rightTopProjectSelectionPannel"
  include-my-html="./../templates/panels/project-selection-panel.html"
></div>

<div class="PannelAside RightPanel2" id="installationStepsPannel">
</div>

