canvas {
    display: block;
}
body {
    overflow: hidden; /* Hide scrollbars */
    margin: 0;
    font-family: "roboto",Roboto,sans-serif;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

p{
    border-width: 0px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div {

    padding: 0px;
    background-color:rgba(255, 255, 255, 0.5);
    margin: 0px;
}
table{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
td{
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}