<div class="modal StepInstructionModal" id="StepInstructionModalId">
    <div class="modal-overlay StepInstructionBtn"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close StepInstructionBtn" onclick="modalPopup(event)">
            <img src="assets/close-icon.svg" alt="">                                            
        </button>
        <h2 class="modal-heading">Step Instruction</h2>
      </div>
      
      <div class="modal-body">
        <div class="modal-content">
            <p id="stepsContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis tenetur corrupti ratione, 
                inventore doloribus veritatis laudantium voluptatibus perspiciatis nobis cumque sint. 
                Inventore dolorem quam blanditiis voluptas quo corporis voluptatibus in nobis quidem iure 
                obcaecati assumenda necessitatibus, dignissimos soluta numquam unde modi quos perspiciatis 
                vel labore minima quaerat id provident! Ratione omnis optio ex facilis nemo, ullam accusamus 
                eos autem minima iusto numquam quidem doloremque, eius at nisi? Enim, nesciunt? Sapiente 
                explicabo molestiae natus possimus officiis dolor, necessitatibus fugit totam minus provident 
                commodi voluptatem optio, ab ipsa? Accusamus minima cum laudantium maiores ad. 
                Aut exercitationem consequuntur eveniet veritatis officia reiciendis dolore sunt, 
                totam perferendis error animi eius sequi alias! Nostrum voluptas temporibus reiciendis non 
                quo omnis nihil aliquam. Recusandae molestiae expedita, rem, quidem maiores quam error sit 
                tempore incidunt consectetur eius enim ad provident quibusdam aperiam. Quo eum, incidunt 
                illum quibusdam, fuga repellat nam necessitatibus, inventore fugit ab libero molestiae 
                blanditiis.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal FilterModal" id="FilterModalId">
    <div class="modal-overlay FilterModalBtn"></div>
    <div class="modal-wrapper modal-transition">
      <div class="modal-header">
        <button class="modal-close FilterModalBtn" onclick="onClickFilterPopup('closeClick')">
                <img src="assets/close-icon.svg" alt="">                                        
        </button>
        <h2 class="modal-heading">Filters</h2>
      </div>
      
      <div class="modal-body">
        <div class="modal-content" id="dataPanelFields">
        </div>
      </div>
    </div>
  </div>