    <div class="modal-header">
        <button class="modal-close MenuToggle">
            <svg class="icon-close icon" viewBox="0 0 32 32">
                <use xlink:href="#icon-close"></use>
            </svg>
        </button>
        <img src="./assets/logo.svg" />
    </div>

    <div class="modal-body">
        <div class="modal-content">
            <ul class="MenusList">
                <li class="active">
                    <a>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.721" height="17.501"
                                viewBox="0 0 18.721 17.501">
                                <g id="Menu_Icons1" data-name="Menu Icons1"
                                    transform="translate(-2.64 -3.25)">
                                    <path id="Union_3" data-name="Union 3"
                                        d="M-12633.31-2883.458a2.461,2.461,0,0,1,2.46-2.463,2.461,2.461,0,0,1,2.46,2.463,2.46,2.46,0,0,1-2.46,2.46A2.46,2.46,0,0,1-12633.31-2883.458Zm-12.3-11.082a2.46,2.46,0,0,1,2.46-2.459,2.459,2.459,0,0,1,2.459,2.459,2.459,2.459,0,0,1-2.459,2.459A2.46,2.46,0,0,1-12645.61-2894.541Z"
                                        transform="translate(12649 2901)" fill="none" stroke="#fff"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        stroke-miterlimit="10" stroke-width="1.5" />
                                    <path id="Union_4" data-name="Union 4"
                                        d="M-12645.61-2883.458a2.461,2.461,0,0,1,2.46-2.463,2.46,2.46,0,0,1,2.459,2.463,2.459,2.459,0,0,1-2.459,2.46A2.46,2.46,0,0,1-12645.61-2883.458Zm12.3-11.082a2.46,2.46,0,0,1,2.46-2.459,2.46,2.46,0,0,1,2.46,2.459,2.46,2.46,0,0,1-2.46,2.459A2.46,2.46,0,0,1-12633.31-2894.541Z"
                                        transform="translate(12649 2901)" fill="none" stroke="#fff"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        stroke-miterlimit="10" stroke-width="1.5" opacity="0.4" />
                                </g>
                            </svg>
                        </span>
                        Field
                    </a>
                </li>
                <li>
                    <a>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.721" height="17.501"
                                viewBox="0 0 18.721 17.501">
                                <g id="Menu_Icons1" data-name="Menu Icons1"
                                    transform="translate(-2.64 -3.25)">
                                    <path id="Union_5" data-name="Union 3"
                                        d="M-12633.31-2883.458a2.461,2.461,0,0,1,2.46-2.463,2.461,2.461,0,0,1,2.46,2.463,2.46,2.46,0,0,1-2.46,2.46A2.46,2.46,0,0,1-12633.31-2883.458Zm-12.3-11.082a2.46,2.46,0,0,1,2.46-2.459,2.459,2.459,0,0,1,2.459,2.459,2.459,2.459,0,0,1-2.459,2.459A2.46,2.46,0,0,1-12645.61-2894.541Z"
                                        transform="translate(12649 2901)" fill="none" stroke="#fff"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        stroke-miterlimit="10" stroke-width="1.5" />
                                    <path id="Union_6" data-name="Union 4"
                                        d="M-12645.61-2883.458a2.461,2.461,0,0,1,2.46-2.463,2.46,2.46,0,0,1,2.459,2.463,2.459,2.459,0,0,1-2.459,2.46A2.46,2.46,0,0,1-12645.61-2883.458Zm12.3-11.082a2.46,2.46,0,0,1,2.46-2.459,2.46,2.46,0,0,1,2.46,2.459,2.46,2.46,0,0,1-2.46,2.459A2.46,2.46,0,0,1-12633.31-2894.541Z"
                                        transform="translate(12649 2901)" fill="none" stroke="#fff"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        stroke-miterlimit="10" stroke-width="1.5" opacity="0.4" />
                                </g>
                            </svg>
                        </span>
                        Htv
                    </a>
                </li>
                <li onclick="handleInstallMenuItemClick()">
                    <a>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.721" height="17.501"
                                viewBox="0 0 18.721 17.501">
                                <g id="Menu_Icons1" data-name="Menu Icons1"
                                    transform="translate(-2.64 -3.25)">
                                    <path id="Union_7" data-name="Union 3"
                                        d="M-12633.31-2883.458a2.461,2.461,0,0,1,2.46-2.463,2.461,2.461,0,0,1,2.46,2.463,2.46,2.46,0,0,1-2.46,2.46A2.46,2.46,0,0,1-12633.31-2883.458Zm-12.3-11.082a2.46,2.46,0,0,1,2.46-2.459,2.459,2.459,0,0,1,2.459,2.459,2.459,2.459,0,0,1-2.459,2.459A2.46,2.46,0,0,1-12645.61-2894.541Z"
                                        transform="translate(12649 2901)" fill="none" stroke="#fff"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        stroke-miterlimit="10" stroke-width="1.5" />
                                    <path id="Union_8" data-name="Union 4"
                                        d="M-12645.61-2883.458a2.461,2.461,0,0,1,2.46-2.463,2.46,2.46,0,0,1,2.459,2.463,2.459,2.459,0,0,1-2.459,2.46A2.46,2.46,0,0,1-12645.61-2883.458Zm12.3-11.082a2.46,2.46,0,0,1,2.46-2.459,2.46,2.46,0,0,1,2.46,2.459,2.46,2.46,0,0,1-2.46,2.459A2.46,2.46,0,0,1-12633.31-2894.541Z"
                                        transform="translate(12649 2901)" fill="none" stroke="#fff"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        stroke-miterlimit="10" stroke-width="1.5" opacity="0.4" />
                                </g>
                            </svg>
                        </span>
                        Install
                    </a>
                </li>
            </ul>

            <ul class="UserAccountMenus">
                <li>
                    <a href="" class="ProfileMenu">
                        <span class="usericon">
                            <img src="./assets/logo.png" alt="Profile Pic" />
                        </span>
                        Account
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 1.6875C9.96038 1.6875 7.96657 2.29232 6.27069 3.42547C4.5748 4.55862 3.25303 6.16921 2.4725 8.05358C1.69197 9.93794 1.48775 12.0114 1.88566 14.0119C2.28357 16.0123 3.26574 17.8498 4.70797 19.292C6.15019 20.7343 7.98771 21.7164 9.98814 22.1143C11.9886 22.5123 14.0621 22.308 15.9464 21.5275C17.8308 20.747 19.4414 19.4252 20.5745 17.7293C21.7077 16.0334 22.3125 14.0396 22.3125 12C22.3125 9.26496 21.226 6.64193 19.292 4.70796C17.3581 2.77399 14.735 1.6875 12 1.6875Z"
                                    stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" />
                                <path
                                    d="M8.71875 8.85289C8.71875 8.85289 8.76797 7.8275 9.86543 6.94449C10.5164 6.42007 11.2969 6.26832 12 6.25777C12.6404 6.24957 13.2123 6.35562 13.5545 6.51851C14.1404 6.79742 15.2812 7.47828 15.2812 8.92613C15.2812 10.4496 14.2852 11.1416 13.1502 11.9027C12.0152 12.6638 11.707 13.49 11.707 14.3437"
                                    stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" />
                                <path
                                    d="M11.6484 18.5625C12.2956 18.5625 12.8203 18.0378 12.8203 17.3906C12.8203 16.7434 12.2956 16.2188 11.6484 16.2188C11.0012 16.2188 10.4766 16.7434 10.4766 17.3906C10.4766 18.0378 11.0012 18.5625 11.6484 18.5625Z"
                                    fill="currentColor" />
                            </svg>
                        </span>
                        FAQ’s
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="28.575"
                                viewBox="0 0 25 28.575">
                                <g transform="translate(-2.432 -1.999)">
                                    <path
                                        d="M9.508,27.345V15.457H14.73L12.5,17.687a1.069,1.069,0,0,0,.758,1.824,1.06,1.06,0,0,0,.756-.315L18.07,15.13a1.083,1.083,0,0,0,0-1.515L14.016,9.549A1.071,1.071,0,1,0,12.5,11.064L14.744,13.3H9.508V1.23A1.218,1.218,0,0,1,10.732,0C19.123,0,25,5.9,25,14.3s-5.865,14.276-14.27,14.276A1.226,1.226,0,0,1,9.508,27.345Zm-8.434-11.9a1.073,1.073,0,0,1,0-2.145H9.49v2.145Z"
                                        transform="translate(2.43 1.999)" fill="currentColor" />
                                </g>
                            </svg>
                        </span>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>