


    <button class="LeftPannelIcon1 MyBtn" id="pannelthree" onclick="toggelProjectSelectDiv(event)" >
        <img src="assets/panel-icon.svg" alt=""> Panel 3 
    </button>
    <div class="PannelAside">
        <div class="MyCard mb-30">
            <div class="toggle-card active" id="collpaseparent">
                <div class="toggle-card-header">
                    <h3 class="faq-title">Data Engineering</h3>
                    <div class="filter-btns">
                        <button class="collpase-btn" onclick="collpaseButton(event)">
                            <img src="assets/arrow-up-icon.svg" alt="">                                  
                        </button>
                        <button class="FilterModalBtn" onclick="filterPopup(event)">
                            <img src="assets/filter-icon.svg" alt="">                                                                            
                        </button>
                    </div>
                </div>
                <div class="toggle-card-body">
                   <div class="ContentPara">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Perspiciatis a minus debitis voluptatum velit ad nemo iste veniam.</p>
                   </div>
                </div>
            </div>
        </div>
        <div class="MyCard">
            <div class="toggle-card active" id="collpaseparent">
                <div class="toggle-card-header">
                    <h3 class="faq-title">SB Crain Dimensions</h3>
                    <div class="filter-btns">
                        <button class="collpase-btn" onclick="collpaseButton(event)">
                            <img src="assets/arrow-up-icon.svg" alt="">                                  
                        </button>
                        <button class="FilterModalBtn" onclick="filterPopup(event)">
                            <img src="assets/filter-icon.svg" alt="">                                                                            
                        </button>
                    </div>
                </div>
                
                <div class="toggle-card-body">
                    <div class="ValueView">
                        <span>PS Rotation</span>
                        <h4>186 deg</h4>
                    </div>
                    <div class="ValueView">
                        <span>PS Boom Angle</span>
                        <h4>72 deg</h4>
                    </div>
                    <div class="ValueView">
                        <span>PS Hook Load</span>
                        <h4>2100T</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
