<button class="PannelIcon MyBtn">
    <img src="assets/panel-icon.svg" alt=""> Panel     
</button>
<button class="PannelIcon2 MyBtn Active" >                    
    <img src="assets/panel-icon.svg" alt="">   Panel 2
</button>

<div class="PannelAside RightPanel1  ">
    <div class="MyCard mb-30">
        <div id="first-panel-right-menu" class="MyCardTitle">PROJECT MAP</div>
        <div class="MyCardBody">
            <div id="first-panel-content-right-menu" class="map">
            <!-- <canvas id="project-map-canvas"></canvas> -->
            </div>
        </div>
    </div>
    <div class="MyCard">
        <div class="MyCardTitle">PROJECT SELECTION</div>
        <div class="MyCardBody">
            <div class="MyInputField">
        
            <input type="file" id="file-upload-btn" onchange="btnImportProjectClick(event)" hidden webkitdirectory multiple/>
                <label for="">Project Name</label>
                <label id="btn-import-file" for="file-upload-btn" class="MyInputBtn">Import Project</label>
            </div>
            <div class="MyInputField">
                <label for="">HTV Name</label>
                <select onchange="onHtvDropdownChange(event)" id="file-names" name="htv-names" class="MySelect">
                    <option value="">--Select option--</option>
                </select>
            </div>
            <div class="MyInputField">
                <label for="">Monopile</label>
                <select onchange="onMonopileDropdownChange(event)" name="sheet-names" id="sheet-names" class="MySelect">
                    <option value="">--Select option--</option>
                </select>
            </div>
            <button class="MyBtn OrangeBtn W100 JustifyCenter">Aply Now</button>
        </div>
    </div>
  </div>
<div class="PannelAside RightPanel2 Active">
    <div class="MyCard mb-30">
        <div class="toggle-card active">
            <div class="toggle-card-header">
                <h3 class="faq-title">Installation Steps</h3>
                <div class="filter-btns">
                    <button class="collpase-btn" onclick="collpaseButton(event)">
                        <img src="assets/arrow-up-icon.svg" alt="">                                  
                    </button>
                    <button class="FilterModalBtn" onclick="filterPopup(event)">
                        <img src="assets/filter-icon.svg" alt="">                                                                            
                    </button>
                </div>
            </div>
            <div class="toggle-card-body">
               <ul class="progress-steps">
                <li class="MyInputBtn"><span>Button</span><button class="MyInputBtn StepInstructionBtn"   onclick="modalPopup(event)"><img src="assets/info-icon.svg" alt=""></button></li>
                <li class="MyInputBtn"><span>Button 2</span><button class="MyInputBtn StepInstructionBtn" onclick="modalPopup(event)"><img src="assets/info-icon.svg" alt=""></button></li>
                <li class="MyInputBtn"><span>Button 3</span><button class="MyInputBtn StepInstructionBtn" onclick="modalPopup(event)"><img src="assets/info-icon.svg" alt=""></button></li>
                <li class="MyInputBtn"><span>Button 4</span><button class="MyInputBtn StepInstructionBtn" onclick="modalPopup(event)"><img src="assets/info-icon.svg" alt=""></button></li>
                <li class="MyInputBtn"><span>Button 5</span><button class="MyInputBtn StepInstructionBtn" onclick="modalPopup(event)"><img src="assets/info-icon.svg" alt=""></button></li>
               </ul>
            </div>
        </div>
    </div>
    <div class="MyCard">
        <div class="toggle-card active">
            <div class="toggle-card-header">
                <h3 class="faq-title">PS Crain Dimensions</h3>
                <div class="filter-btns">
                    <button class="collpase-btn" onclick="collpaseButton(event)">
                        <img src="assets/arrow-up-icon.svg" alt="">                                  
                    </button>
                    <button class="FilterModalBtn">
                        <img src="assets/filter-icon.svg" alt="">                                                                            
                    </button>
                </div>
            </div>
            <div class="toggle-card-body">
                <div class="ValueView">
                    <span>PS Rotation</span>
                    <h4>186 deg</h4>
                </div>
                <div class="ValueView">
                    <span>PS Boom Angle</span>
                    <h4>72 deg</h4>
                </div>
                <div class="ValueView">
                    <span>PS Hook Load</span>
                    <h4>2100T</h4>
                </div>
            </div>
        </div>
    </div>
</div>